@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #0f0f0f;
  color: #fafafa;
  -webkit-font-smoothing: antialiased;
}

#__next {
  height: 100%;
}

.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-attrib {
  filter: grayscale(1);
}
